@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  background-color: #1e1e1e;
  color: #e0e0e0;
  font-family: "Roboto Condensed", sans-serif;
}

.navbar {
  background-color: #121212;
  color: #e0e0e0;
  padding: 15px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #8b0000;
}

.menu {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
}

.listMenu a,
.navbar a {
  text-decoration: none;
  color: #e0e0e0;
  padding: 10px 20px;
  transition: ease 0.3s;
  font-weight: 500;
}

.listMenu a:hover {
  background-color: #2a2a2a;
  border-radius: 5px;
  color: #8b0000;
}

.listMenu:not(:last-child) {
  margin-right: 15px;
}

.logoTitle {
  display: flex;
  align-items: center;
}

#title {
  text-transform: uppercase;
  font-size: 24px;
  color: #8b0000;
}

.imgMural {
  width: 20%;
  margin-right: 5%;
}

.navMenu {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}

.formsStyle {
  border: 1px solid #444;
  border-radius: 10px;
  padding: 50px 100px;
  background-color: #2b2b2b;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 80px auto;
  max-width: 500px;
}

.formsStyle label {
  width: 100%;
  text-align: start;
  margin: 10px 0 0 5%;
}

.formsStyle input {
  width: 100%;
  height: 30px;
  background-color: #1e1e1e;
  color: #e0e0e0;
  border: none;
  border-bottom: 2px solid #8b0000;
  transition: ease 0.5s;
  font-family: inherit;
}

.formsStyle input:focus {
  outline: none;
  background-color: #2a2a2a;
  border-bottom: 2px solid #ff4c4c;
}

.boxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#cadastrarRecado, #atualizarRecado {
  margin-top: 20px;
  border: 1px solid #8b0000;
  border-radius: 5px;
  padding: 10px 25px;
  background-color: #8b0000;
  color: white;
  transition: ease 0.3s;
}

#cadastrarRecado:hover, #atualizarRecado:hover {
  background-color: #a60000;
  cursor: pointer;
}

#cadastrarRecado:active, #atualizarRecado:active {
  background-color: #8b0000;
  transform: scale(0.9);
}

#mural {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px;
}

.postItRecado {
  background-color: #2e2e2e;
  border: 1px solid #8b0000;
  border-radius: 15px;
  width: 20%;
  margin: 20px;
  text-align: left;
  padding: 20px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  color: #e0e0e0;
}

.actions {
  display: flex;
  justify-content: end;
  min-height: 40px;
  align-items: center;
  margin-top: auto;
}

.update,
.delete {
  cursor: pointer;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
}

.delete {
  background-color: #8b0000;
}

.update {
  background-color: #4b4b4b;
  color: #ffffff;
}

.update i,
.delete i {
  font-size: 16px;
}

.update:hover,
.delete:hover {
  transform: scale(1.1) rotate(360deg);
}

.update:active,
.delete:active {
  transform: scale(0.8);
}

.error {
  color: #ff4c4c;
  font-weight: bold;
}

@media (max-width: 768px) {
  .logoTitle {
    flex-flow: column nowrap;
    align-items: center;
  }

  .menu {
    text-align: center;
    flex-flow: column;
  }

  .menu .listMenu {
    width: 100%;
    margin-bottom: 20px;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .postItRecado {
    width: 90%;
    min-height: 200px;
  }
}
